<div class="container pt-3">
    <div class="row">
        <div class="col">
            <h2><br><br>Welcome to <br>Mentor On Demand <br><br></h2>
            <h3>Learn on your schedule.<br></h3>
            <h4>Anywhere, anytime.</h4>
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()" >Explore Courses</button>
        </div>
        <div class="col">
            <h1><br></h1>
            <img src="../../assets/landing.svg" class="img-fluid w-100" alt="Responsive image">
        </div>
    </div>
</div>